html {
  margin-right: 0;
  margin-left: 0;
}

body {
  margin-top: 0;
  /* border-left-width: 10px; */
  /* border-right-width: 10px; */
  /* border-top-width: 0; */
  /* border-style: solid; */
  /* border-image: linear-gradient(to bottom, rgb(179, 198, 255), rgb(204, 122, 0)) */
    1 100%;
  font-family: 'Open Sans', san-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.container {
  background-image: url("./pics/greypaper.jpg");
  background-color: #f4f4f4;
  max-width: 100%;
  /* padding: 50px 0; */
}

.contentBox {
  padding: 20px;
  background: #f4f4f4;
}

.row {
  margin-right: 1em;
  margin-left: 1em;
}

.headerFont {
  font-size: 2.4rem;
  font-weight: 600;
}

.monoFont {
  font-family: monospace, monospace;
}

.linkLine {
  padding: 3px 0;
  max-width: 100%;
}

.weekblock2 {
  font-size: 18px;
  font-weight: bold;
  height: 150px;
  width: 50vw;
  max-width: 250px;
  padding: 0 5px;
}

.custButton {
  height: 150px;
  width: 100%;
  max-width: 300px;
  border-radius: 0;
}

.profTitle {
  min-height: 15px;
  padding: 15px 10px 10px;
  color: white;
}

.roundTop {
  border-radius: 7px 7px 0px 0px;
}

.roundBottom {
  border-radius: 0px 0px 10px 10px;
  padding: 0;
}

.shadowWhite {
  text-shadow: 3px 3px 20px white;
}

.shadowBlack {
  text-shadow: 3px 3px 20px black;
}

.noPad {
  padding: 0 !important;
}

.firstList {
  margin-top: 50px;
}
/* 
.notFirstList {
  margin-top: 50px;
} */

.lastList {
  margin-bottom: 50px;
}

.padTop {
  padding-top: 50px;
}

.padBottom {
  padding-bottom: 50px;
}

.whiteBack {
  background-color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 4px;
}

.darkBack {
  background-color: #2d2b2c;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.borderLeftRight {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: #47586a;
}

.btn {
  /* box-shadow: 1px 0 1px #557A95; */
  border: solid grey 1px;
}

.white {
  color: white;
}

.black {
  color: #373737;
}

/* .bigTab {
  font-weight: 600;
  width: 80vw;
  max-width: 500px;
  background-color: #5D5C61;
  border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
} */

/* .littleTab {
  color: #373737;
  width: 50vw;
  max-width: 280px;
  background-color: #C0B283;
  border-top: 1px solid grey;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow: inset -1px 0 3px #333;
   -moz-box-shadow:    inset -1px 0 3px #333;
   box-shadow:         inset -1px 0 3px #333;
} */

.littleTab {
  width: 50vw;
  max-width: 280px;
  border:1px solid #ad9b5e; 
  /* -webkit-border-radius: 3px;  */
  /* -moz-border-radius: 3px; */
  /* border-radius: 10px 10px 0 0; */
  text-decoration:none; 
  display:inline-block;
  text-shadow: -1px -1px 0 rgba(239, 237, 199, 0.83);
  font-weight:bold; 
  color: #373737;
  background-color: #f3de9a; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3de9a), to(#caba87));
  background-image: -webkit-linear-gradient(top, #f3de9a, #caba87);
  background-image: -moz-linear-gradient(top, #f3de9a, #caba87);
  background-image: -ms-linear-gradient(top, #f3de9a, #caba87);
  background-image: -o-linear-gradient(top, #f3de9a, #caba87);
  background-image: linear-gradient(to bottom, #f3de9a, #caba87);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3de9a, endColorstr=#caba87);
}

.bigTab {
  width: 80vw;
  max-width: 500px;
  border:1px solid black; 
  text-decoration:none; 
  display:inline-block;
  text-shadow: -1px -1px 0 rgba(199, 195, 138, 0.57);
  font-weight:bold; 
  color: #f4f4f4;
  background-color: #675f44; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#675f44), to(#13110c));
  background-image: -webkit-linear-gradient(top, #675f44, #13110c);
  background-image: -moz-linear-gradient(top, #675f44, #13110c);
  background-image: -ms-linear-gradient(top, #675f44, #13110c);
  background-image: -o-linear-gradient(top, #675f44, #13110c);
  background-image: linear-gradient(to bottom, #675f44, #13110c);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#675f44, endColorstr=#13110c);
}

.titleBar {
  width: 100%;
  background-color: #13110c;
  text-shadow: -1px -1px 0 rgba(199, 195, 138, 0.57);
  font-size: 14px;
  font-weight: 600;
}

/* .hero {
  width: 100%;
  min-height: 3500px;
  display: block;
  position: relative;
} */

/* .hero::after {
  background: linear-gradient(#47586a, rgba(255, 255, 255, 0), transparent),
    url("./pics/flowerpic2.JPG") top center;

  width: 100%;
  background-size: cover;
  min-height: 3500px;

  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */