html {
  margin-right: 0;
  margin-left: 0;
}

body {
  margin-top: 0;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(179, 198, 255), rgb(204, 122, 0))
    1 100%;
  font-family: 'Open Sans', san-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.container {
  background-image: url("./pics/bluePaper.jpg");
  background-color: #f4f4f4;
  max-width: 100%;
  padding: 50px 0;
}

.row {
  margin-right: 1em;
  margin-left: 1em;
}

.headerFont {
  margin-top: -10px;
  margin-bottom: -5px;
  font-size: 2rem;
}

.monoFont {
  font-family: monospace, monospace;
}

.linkLine {
  padding: 5px 0;
}

.weekblock2 {
  font-size: 18px;
  font-weight: bold;
  height: 150px;
  width: 25vw;
  max-width: 300px;
  padding: 0 5px;
}

.custButton {
  height: 150px;
  width: 100%;
  max-width: 300px;
}

.profTitle {
  min-height: 15px;
  padding: 20px 0 10px;
  color: white;
}

.roundTop {
  border-radius: 10px 10px 0px 0px;
}

.roundBottom {
  border-radius: 0px 0px 10px 10px;
}

.shadowWhite {
  text-shadow: 3px 3px 20px white;
}

.shadowBlack {
  text-shadow: 3px 3px 20px black;
}

.bigtext {
  font-size: 1.5rem;
}

.noPad {
  padding: 0 !important;
}

.firstList {
  margin-top: 50px;
}

.notFirstList {
  margin-top: 50px;
}

.lastList {
  margin-bottom: 50px;
}

.padBottom {
  padding-bottom: 50px;
}

.whiteBack {
  background-color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 4px;
}

.darkBack {
  background-color: #2d2b2c;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.borderLeftRight {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: #47586a;
}

.btn {
  box-shadow: 3px 3px 3px #557A95;
  border: solid black 1px;
}

.white {
  color: white;
}

.black {
  color: #373737;
}

.bigTab {
  width: 50vw;
  max-width: 500px;
  /* background-color: #373737; */
  background-color: #5D5C61;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.littleTab {
  color: #373737;
  font-weight: 800;
  width: 35vw;
  max-width: 280px;
  background-color: #C0B283;
  border-top: 1px solid grey;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.titleBar {
  width: 100%;
  background-color: #373737;
}

/* .hero {
  width: 100%;
  min-height: 3500px;
  display: block;
  position: relative;
} */

/* .hero::after {
  background: linear-gradient(#47586a, rgba(255, 255, 255, 0), transparent),
    url("./pics/flowerpic2.JPG") top center;

  width: 100%;
  background-size: cover;
  min-height: 3500px;

  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */