html {
  margin-right: 0;
  margin-left: 0;
}

body {
  margin-top: 0;
  letter-spacing: 0.1em;
  font-family: "Hind", san-serif;
  /* font-family: "Lato", san-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-image: url("./pics/greengrass.jpg");
  background-color: #e2ddca;
  background-size: cover;
  max-width: 100%;
}

.contentBox {
  /* padding: 0; */
  /* background: #f4f4f4; */
  /* border: 1px solid #f3de9a91; */
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.9), 0 15px 12px rgba(0, 0, 0, 0.9); */
}

.row {
  margin-right: 1em;
  margin-left: 1em;
}

.headerBlock {
  border: 5px solid #e2ddca;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  background-color: #010000;
}

.headerFont {
  font-size: 2.4rem;
  font-weight: 600;
  color: #e2ddca;
}

.monoFont {
  font-family: monospace, monospace;
}

.linkLine {
  padding: 5px 0;
  max-width: 100%;
  width: 100%;
  background-color: #010000;
}

.weekblock2 {
  font-size: 18px;
  font-weight: bold;
  height: 150px;
  width: 50vw;
  max-width: 250px;
  padding: 0 5px;
  margin-right: auto;
  margin-left: auto;
}

.custButton {
  height: 150px;
  width: 100%;
  max-width: 300px;
  border-radius: 0;
  padding: 0;
}

.profTitle {
  min-height: 15px;
  /* padding: 10px 10px 10px; */
  color: white;
}

.roundTop {
  border-radius: 15px 15px 0px 0px;
}

.roundBottom {
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid #00000070;
  padding: 0;
}

.shadowWhite {
  /* text-shadow: 0 0 10px white; */
}

.shadowBlack {
  text-shadow: 3px 3px 20px black;
}

.noPad {
  padding: 0 !important;
}

.firstList {
  margin-top: 50px;
}

.lastList {
  margin-bottom: 50px;
}

.padTop {
  padding-top: 50px;
}

.padBottom {
  padding-bottom: 50px;
}

.whiteBack {
  background-color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 4px;
}

.darkBack {
  background-color: #2d2b2c;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0em;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.borderLeftRight {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: #47586a;
}

.btn {
  border: solid grey 1px;
}

.white {
  color: white;
}

.black {
  color: #373737;
}

.littleTab {
  align-self: flex-start;
  width: 50vw;
  max-width: 280px;
  padding: 6px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #373737;
  background-color: #e2ddca;
}

.littleTab-border {
  border-left: 1px solid #ad9b5e;
  border-right: 3px solid #ad9b5e;
  border-top: 3px solid #d8c174;
}

.bigTab {
  align-self: flex-start;
  width: 100%;
  min-height: 10px;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #f4f4f4;
  background-color: #010000;
}

.bigTab-border {
  border-left: 1px solid #3a3425;
  border-top: 2px solid #b5a273;
}

.bigTabMiddle {
  width: 80vw;
  max-width: 500px;
  border-right: 4px solid #6b5f41;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #3a3526;
}

.titleBar {
  width: 100%;
  text-shadow: 2px 1px rgba(35,35,35,.5);
  font-size: 14px;
  font-weight: 600;
}
